.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.carousel {
  display: flex;
  overflow: hidden;
  /* transition: transform 0.5s ease; */ /* broken */
}

.carousel-image {
  width: 200px;
  height: 150px;
  object-fit: cover; 
}
