/* Schedule.css */

.schedule-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('/src/Assets/Design/racetrack-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-container {
    margin-top: 3%;
    width: 225px;
    height: 150px;
    background-image: url('/cloud1.png');
    background-size: cover;

}

.title-container h1 {
    position: relative;
    margin-top: 22%;
    font-size: 2.1rem; 
    font-weight: bold;
    text-align: center;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3%;
    width: 90%;
    max-width: 750px;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.basic-info {
    display: flex;
    align-items: center;
    margin: 20px 20px 15px 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.basic-info img {
    width: 125px; /* Adjust as needed */
    height: auto;
    margin: 10px; /* Spacing between image and text */
}

.basic-info .title {
    font-display: flex;
    font-size: 1em;
    padding: 15px;
}

.basic-info .title .location-details {
    display: flex box;
    flex-direction: column;
    margin-top: 10px; /* Adjust spacing between text and image */
}

.basic-info .title .location-details p {
    margin: 0;
    text-align: left;
}

.day-section {
    margin: 10px 20px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}

.day-header {
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #97D8C4;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.schedule {
    margin: 20px 30px;
    background-color: #ffffff;
}

.schedule p {
    margin: 5px 0;
}

.note {
    font-size: .8em; 
    text-align: center;
}

/* Style for when the collapsible section is open */
.day-section.open {
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Rotate arrow icon when section is open */
.day-header.open::after {
    content: '\25BC'; /* down arrow */
    float: right;
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}