/* Schedule.css */

.schedule-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-image: url('/src/Assets/Design/racetrack-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
