h3 {
  text-align: center;
}

a {
  color:gray;  
  text-decoration:none;
  font-weight: bold;
}

.header-container {
  border: 2px solid black;
}

/*------------------
*---  Navigation  ---
--------------------*/
.nav-main-container {
  display: flex;
  justify-content: center;
  font: 1.2rem "Fira Sans", sans-serif;
  background-color: rgba(0, 0, 0, .02);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  border: 0.1rem solid rgba(0, 0, 0, .1);
}

.nav-main-container ul {
  display: flex;
  list-style: none;
}

.nav-main-container ul li a {
  padding: 0.6em;
  border-radius: 0.6em;
  border: 0.1rem solid  rgba(0, 0, 0, 0);
}


.nav-main-container ul li a:hover {
  color:rgb(63, 142, 199, 1);
  background-color:rgb(63, 142, 199, 0.1);
  border: 0.1rem solid  rgb(63, 142, 199, 0.1);
}

.nav-main-container ul li a:active {
  color:rgb(63, 142, 199, 1);
  background-color:rgb(63, 142, 199, 1);
  border: 0.1rem solid  rgb(63, 142, 199, 1);
}

/*------------------
*---  Profile  ---
--------------------*/
.main-container {
  display: flex;
  justify-content: center;
  width: 25em;
  background-color: rgba(0, 0, 0, .02);
  font: 1.2rem "Fira Sans", sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  border-radius: 0.8rem;
  margin-top: 0.5em;
  overflow: hidden;
  border: 0.1rem solid rgba(0, 0, 0, .1);
}

.text-box {
  width: 80%;
  padding: 1em;
  line-height: 1em;
  text-align: center;
}

.text-box a {
  display:inline-block;
  width: 70%;

  padding: 0.6em;
  border-radius: 1em;
  text-align: center;
  color:gray;
  border: 0.1rem solid  gray;
}

.text-box a:hover {
  color:rgb(63, 142, 199, 1);
  background-color:rgb(63, 142, 199, 0.1);
  border: 0.1rem solid  rgb(63, 142, 199, 1);
}

.text-box a:active {
  color:rgb(63, 142, 199, 1);
  background-color:rgb(63, 142, 199, 1);
  border: 0.1rem solid  rgb(63, 142, 199, 1);
}

.img-container{
  width: 90%;
  background-image: url("/src/assets/imgs/perplexed.png");
  height: 250px; 
  background-position: center; 
  background-size: cover; 
}

