h3 {
  text-align: center;
}

.header-container {
  border: 2px solid black;
}

.profile .pfp img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
}

.profile p.name{
  text-align: center;
  color: black;
  font-size: 20px;
}

.profile p.major{
  text-align: center;
  color: black;
  font-size: 12px;
}

.profile p.year{
  text-align: center;
  color: black;
  font-size: 12px;

.navbar {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  /*padding: 10px;*/
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #e1c4ff;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
